/*font-setting*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #aac4ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 4rem 2rem;
}

.fa-bars {
  font-size: 2rem;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1rem;
}

.filter-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  background-color: #87a2ff;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
}

.grid-third-row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  display: flex;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  flex-shrink: 0;
  background-color: #aac4ff;
}

input,
select {
  width: 100%;
  height: 3rem;
  border: 1px;
}

.grid-fourth-row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 49%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.reset-button {
  background-color: #a594f9;
}

.search-button {
  background-color: #7c00fe;
}

button:hover {
  background-color: #b1b2ff;
}
